.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(140, 174, 200, 0.2); /* rgba(140, 174, 200, 0.8)*/
  overflow-y: hidden;
  overscroll-behavior: contain;
  pointer-events: auto;
}

.modal-content {
  position: relative;
  width: 320px;
  min-height: 285px;
  max-height: calc(100vh - 60px);
  padding: 72px 40px 36px;
  background-color: rgb(204, 206, 204); /*rgb(255, 255, 255) */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.close {
  color: #aaaaaa;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-caption {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 32px;
  color:forestgreen;
}

.modal-description {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.modal-error{
  color: red;
}
