body {
  margin: 0;
  padding: 0;

  font-family: "Bellota";
  font-size: 20px;
  color: #FFFFFF;

  background-image: url("img/background.png");
  background-size: cover;
  background-position: center;
  background-color: #8080FF;

  overflow: auto;
}

#root {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-window {
  width: 480px;
  min-height: 200px;
  margin: 0 auto;
  padding: 55px 0;
  border-radius: 10px;
  position: relative;

  background-color: rgba(64, 64, 128, 0.9);
  box-shadow: 0 10px 0 0 rgba(48, 48, 96, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-btn {
  display: block;
  width: 250px;
  margin-bottom: 30px;
  padding: 14px 0 13px 0;
  border-radius: 10px;

  color: #FFFFFF;
  text-decoration: none;
  text-align: center;

  background-color: #30B080;
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.5);
  border: none;
}

.main-btn:last-child {
  margin-bottom: 0;
}

.main-btn:hover {
  background-color: rgba(48, 176, 128, 0.75);
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.38);
}

.main-btn:active {
  position: relative;
  background-color: rgba(48, 176, 128, 0.5);
  box-shadow: none;
  top: 5px;
}

.main-title {
  margin-bottom: 40px;
  max-width: 252px;

  font-size: 24px;
  text-align: center;
}

.main-window input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  margin-bottom: 30px;
  padding: 12px 0 11px 0;
  border: 2px solid #2070F0;
  border-radius: 10px;

  font: inherit;
  text-decoration: none;
  text-align: center;

  background-color: #BBDDFF;
  box-shadow: 0 5px 0 0 rgba(187, 221, 255, 0.5);
}

.main-window input[type="text"].error {
  border-color: #F04020;
}

.cross {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.cross:hover {
  opacity: 0.75;
}

.cross:active {
  opacity: 0.5;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 20px 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.alert {
  width: 700px;
  padding: 13px 0 12px 0;
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  box-sizing: border-box;

  text-align: center;
  background-color: rgba(64, 64, 128, 0.75);
  animation: hideAlert 1.5s forwards;
}

.alert.warning {
  color: #F02000;
  border-color: #C02000;
}

.alert.success {
  color: #30F080;
  border-color: #30B080;
}

.lobby {
  display: grid;
  gap: 20px;
  grid-template-rows: 70px 480px;
  grid-template-columns: 250px 420px 250px;
  grid-template-areas:
    "lobby-header  lobby-header  lobby-header"
    "lobby-members lobby-content lobby-chat";
}

.lobby-header {
  grid-area: lobby-header;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  border-radius: 10px;
  background-color: rgba(64, 64, 128, 0.9);
  box-shadow: 0px 10px 0px 0px rgba(48, 48, 96, 0.9);
}

.lobby-btn {
  display: block;

  width: 150px;
  min-height: 30px;
  padding: 2px 0px 3px;
  border-radius: 10px;

  color: #FFFFFF;
  text-align: center;

  background-color: #30B080;
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.5);
  border: none;
}

.lobby-btn:hover {
  background-color: rgba(48, 176, 128, 0.75);
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.38);
}

.lobby-btn:active {
  position: relative;
  background-color: rgba(48, 176, 128, 0.5);
  box-shadow: none;
  top: 5px;
}

.lobby-exit {
  background-color: #b03030;
  box-shadow: 0px 5px 0px 0px rgba(176, 48, 48, 0.5);
}

.lobby-exit:hover {
  background-color: rgba(176, 48, 48, 0.75);
  box-shadow: 0 5px 0 0 rgba(176, 48, 48, 0.38);
}

.lobby-exit:active {
  position: relative;
  background-color: rgba(176, 48, 48, 0.5);
  box-shadow: none;
  top: 5px;
}

.lobby-title {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

h3.lobby-title {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.lobby-members {
  grid-area: lobby-members;
  border-radius: 10px;
  padding: 25px 0px 10px;

  background-color: rgba(64, 64, 128, 0.9);
  box-shadow: 0px 10px 0px 0px rgba(48, 48, 96, 0.9);
  text-align: center;
}

.lobby-members-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;

  height: 390px;

  list-style: none;
  overflow: scroll;
  overflow-x: hidden;

  scrollbar-width: auto;
  scrollbar-color: #8080FF #404080;
}

.lobby-member {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 190px;
  height: 40px;
  padding: 5px;

  background-color: #8080FF;
  border: 2px solid #383870;
  border-radius: 20px 10px 10px 20px;
}

.lobby-member img {
  margin-right: 10px;
}

.lobby-member p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-empty {
  color: #8080FF;
  background-color: #383870;
  border: 2px solid #8080FF;
}

.lobby-content {
  grid-area: lobby-content;
  background-color: rgba(64, 64, 128, 0.9);
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px rgba(48, 48, 96, 0.9);
}

.lobby-chat {
  grid-area: lobby-chat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 25px 0px 10px;

  background-color: rgba(64, 64, 128, 0.9);
  box-shadow: 0px 10px 0px 0px rgba(48, 48, 96, 0.9);
}

.chat-messages {
  display: flex;
  align-self: stretch;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;

  height: 350px;

  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-width: auto;
  scrollbar-color: #8080FF #404080;
}

.chat-messages li {
  margin: 0;
  padding: 0;
  position: relative;
  align-self: flex-start;
  margin-left: 30px;
  max-width: 175px;
}

.chat-messages li.user-msg {
  align-self: flex-end;
  margin: 0;
  margin-right: 20px;
}

.chat-messages .msg-name {
  margin: 0;
  position: absolute;
  top: -13px;
  left: 5px;
  font-size: 11px;
  color: #8080FF;
}

.chat-messages .msg-text {
  margin: 0;
  font-size: 14px;
  padding: 5px;

  text-align: left;
  border-radius: 10px 10px 10px 0px;
  background-color: #383870;

  word-wrap: break-word;
}

.chat-messages li.user-msg .msg-name {
  right: 5px;
  left: auto;
}

.chat-messages li.user-msg .msg-text {
  border-radius: 10px 10px 0px 10px;
  background-color: #8080FF;
}

.chat-input {
  margin: 0;
  margin-top: 15px;
  background-color: #8080FF;
  display: flex;
  box-sizing: border-box;
  width: 190px;
  height: 30px;
  padding: 3px;
  border-radius: 5px 15px 15px 5px;
  border: 2px solid #383870;
}

.chat-input input[type="text"] {
  font-size: 14px;
  box-sizing: border-box;
  width: 160px;
  margin: 0;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
}

.chat-input input[type="text"]::placeholder {
  color: #BBBBBB;
}

.chat-input button[type="submit"] {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: inherit;
}

.chat-input button[type="submit"] img {
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.chat-input button[type="submit"]:hover {
  opacity: 0.75;
}


.chat-input button[type="submit"]:active {
  opacity: 0.5;
}


@keyframes hideAlert {
  100% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }
}

@media (max-width: 960px) {
  .lobby {
    grid-template-rows: 70px 90px 400px;
    grid-template-columns: 440px 180px;
    grid-template-areas:
      "lobby-header  lobby-header"
      "lobby-members lobby-members"
      "lobby-content lobby-chat";
  }

  .lobby-members .lobby-title {
    margin: 0;
    margin-right: 10px;
  }

  h3.lobby-title span {
    display: none;
  }

  .lobby-members {
    display: flex;
    padding: 10px 20px 5px;
    align-items: center;
  }

  .lobby-members-list {
    flex-direction: row;
    height: 75px;
    overflow-y: hidden;
    overflow-x: scroll;

    scrollbar-width: thin;
  }

  .lobby-member {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    min-width: 75px;
    max-width: 75px;
    height: 60px;
    border-radius: 10px;
  }

  .lobby-member img {
    margin: 0;
  }

  .lobby-member p {
    width: 100%;
  }

  .lobby-chat {
    padding: 10px 0px;
  }

  .lobby-chat .lobby-title {
    margin-bottom: 10px;
  }

  .chat-input {
    margin-top: 10px;
    width: 160px;
  }

  .chat-input input[type="text"] {
    width: 130px;
  }

  .chat-messages {
    height: 310px;
    scrollbar-width: thin;
  }

  .chat-messages li {
    margin-left: 10px;
    max-width: 145px;
  }

  .chat-messages li.user-msg {
    margin: 0;
  }

  .chat-messages .msg-name {
    font-size: 8px;
  }

  .chat-messages .msg-text {
    font-size: 11px;
  }
}

@media (max-width: 700px) {
  .alert {
    width: 480px;
  }

  .lobby-btn {
    font-size: 0;
    width: 30px;
    height: 30px;
    background-image: url("img/check-done.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .lobby-exit {
    background-image: url("img/exit.svg");
  }

  .lobby {
    grid-template-rows: 70px 90px 200px 185px;
    grid-template-columns: 290px;
    grid-template-areas:
      "lobby-header"
      "lobby-members"
      "lobby-content"
      "lobby-chat";
  }

  .chat-input {
    margin-top: 5px;
    width: 250px;
  }

  .chat-input input[type="text"] {
    width: 220px;
  }

  .chat-messages {
    height: 100px;
  }

  .chat-messages li {
    margin-left: 20px;
    max-width: 235px;
  }

  .chat-messages li.user-msg {
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .alert {
    width: 300px;
  }

  .main-window {
    width: 300px;
  }
}
