<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Присоединение к лобби</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bellota&display=swap" rel="stylesheet">
</head>
<body>
  <main class="main-window">
    <p class="text-show">Выбери псевдоним и идентификатор лобби</p>
    <input type="text" class="custom-input" id=nameInput">
    <input type="text" class="custom-input" id="lobbyInput">
    <a class="main-btn" href="#">Присоединиться к лобби</a>
  </main>
</body>
</html>