<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создание лобби</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bellota&display=swap" rel="stylesheet">
</head>
<body>
  <div id="root">
    <main class="main-window">
      <p class="main-title">Выбери псевдоним</p>
      <input type="text" id="nameInput" placeholder="Master">
      <a class="main-btn" href="#">Создать лобби</a>
      <a class="cross" href="#">
        <img src="img/cross.svg" width="20" height="20">
      </a>
    </main>
  </div>
</body>
</html>
