body {
  margin: 0;
  padding: 0;

  font-family: "Bellota";
  font-size: 20px;
  color: #FFFFFF;

  background-image: url(img/background.png);
  background-size: cover;
  background-position: center;
  background-color: #404080;

  overflow: auto;
}

#root {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-window {
  width: 480px;
  min-height: 200px;
  margin: 0 auto;
  padding: 55px 0;
  border-radius: 10px;
  position: relative;

  background-color: rgba(64, 64, 128, 0.9);
  box-shadow: 0 10px 0 0 rgba(48, 48, 96, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-btn {
  display: block;
  width: 250px;
  margin-bottom: 30px;
  padding: 14px 0 13px 0;
  border-radius: 10px;

  color: #FFFFFF;
  text-decoration: none;
  text-align: center;

  background-color: #30B080;
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.5);
}

.main-btn:last-child {
  margin-bottom: 0;
}

.main-btn:hover {
  background-color: rgba(48, 176, 128, 0.75);
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.38);
}

.main-btn:active {
  background-color: rgba(48, 176, 128, 0.5);
  box-shadow: none;
}

.main-title {
  margin-bottom: 40px;
  max-width: 252px;

  font-size: 24px;
  text-align: center;
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  margin-bottom: 30px;
  padding: 12px 0 11px 0;
  border: 2px solid #2070F0;
  border-radius: 10px;

  font: inherit;
  text-decoration: none;
  text-align: center;

  background-color: #BBDDFF;
  box-shadow: 0 5px 0 0 rgba(187, 221, 255, 0.5);
}

input[type="text"].error {
  border-color: #F04020;
}

.cross {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.cross:hover {
  opacity: 0.75;
}

.cross:active {
  opacity: 0.5;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 20px 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.alert {
  width: 700px;
  padding: 13px 0 12px 0;
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  box-sizing: border-box;

  text-align: center;
  background-color: rgba(64, 64, 128, 0.75);
  animation: hideAlert 1.5s forwards;
}

.alert.warning {
  color: #F02000;
  border-color: #C02000;
}

.alert.success {
  color: #30F080;
  border-color: #30B080;
}

.lobby {
  display: grid;
  grid-template-columns: 250px 420px 250px;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas:
      "lobby-header lobby-header lobby-header"
      "lobby-members lobby-content lobby-chat";
}

.lobby-header {
  grid-area: lobby-header;
  width: 960px;
  height: 70px;
  top: 75px;
  left: 203px;
  padding: 20px 0px 0px 0px; /* Внутренние отступы (сверху, справа, снизу, слева) */
  gap: 0px;
  background-color: #404080;
  border-radius: 10px 10px 10px 10px;
  opacity: 90%;
  box-shadow: 0px 10px 0px 0px #303060E5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logout-btn{
  background-color:#B03030;
  color: #fff;
  width: 150px;
  height: 30px;
  top: 20px;
  left: 20px;
  padding: 2px 44px 3px 44px;
  gap: 0px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 5px 0px 0px rgba(176, 48, 48, 0.5);
  display: flex;
  align-items: center;
}

.lobby-title {
  flex: 1; /* Растягиваем заголовок, чтобы он занимал все доступное пространство */
  text-align: center; /* Выравниваем текст по центру */
  width: 150px;
  height: 30px;
  top: 20px;
  left: 405px;
  padding: 0px 0px 0px 3px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  text-align: center;
}

.create-btn {
  background-color:#30B080;
  color: #fff;
  width: 150px;
  height: 30px;
  top: 20px;
  left: 790px;
  padding: 3px 49px 2px 48px;
  gap: 0px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 5px 0px 0px rgba(48, 176, 128, 0.5);
  display: flex;
  align-items: center;
}

.lobby-members {
  grid-area: lobby-members;
  width: 250px;
  height: 480px;
  top: 165px;
  left: 203px;
  gap: 0px;
  background-color:#404080;
  border-radius: 10px 5px 5px 10px;
  opacity: 90%;
  box-shadow: 0px 10px 0px 0px rgba(48, 48, 96, 0.9);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lobby-members-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 440px;
  overflow-y: auto;
  width: 100%;
  text-align: center;
}

.lobby-member {
  background-color:#8080FF;
  width: 190px;
  height: 40px;
  top: 80px;
  left: 30px;
  padding: 5px 63px 5px 5px;
  gap: 0px;
  border-radius: 20px 10px 10px 20px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #383870;
  display: flex;
  align-items: center;
}

.lobby-member-empty {
  background-color: #383870;
  border: 2px solid #8080FF;
}

.lobby-member img {
  margin-right: 5px;
}

.lobby-content {
  grid-area: lobby-content;
  width: 420px;
  height: 480px;
  top: 165px;
  left: 473px;
  gap: 0px;
  background-color: #404080;
  border-radius: 10px 10px 10px 10px;
  opacity: 90%;
  box-shadow: 0px 10px 0px 0px rgba(48, 48, 96, 0.9);
}

.lobby-chat {
  grid-area: lobby-chat;
  width: 250px;
  height: 480px;
  top: 165px;
  left: 913px;
  gap: 0px;
  border-radius: 10px 10px 10px 10px;
  background-color: #404080;;
  opacity: 90%;
  box-shadow: 0px 10px 0px 0px rgba(48, 48, 96, 0.9);
  text-align: center;
}

.chat-input {
  background-color:#8080FF;
  width: 190px;
  height: 30px;
  top: 440px;
  left: 30px;
  padding: 5px 0px 0px 0px;
  gap: 0px;
  border-radius: 5px 15px 15px 5px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #383870;
}



@keyframes hideAlert {
  100% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }
}

@media (max-width: 700px) {
  .alert {
    width: 480px;
  }
}

@media (max-width: 500px) {
  .alert {
    width: 300px;
  }

  .main-window {
    width: 300px;
  }
}
