body {
  margin: 0;
  padding: 0;

  font-family: "Bellota";
  font-size: 20px;
  color: #FFFFFF;

  background-image: url(img/background.png);
  background-size: cover;
  background-position: center;
  background-color: #404080;
}

#root {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-window {
  width: 480px;
  min-height: 200px;
  margin: 0 auto;
  padding: 55px 0;
  border-radius: 10px;
  position: relative;

  background-color: rgba(64, 64, 128, 0.9);
  box-shadow: 0 10px 0 0 rgba(48, 48, 96, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-btn {
  display: block;
  width: 250px;
  margin-bottom: 30px;
  padding: 14px 0 13px 0;
  border-radius: 10px;

  color: #FFFFFF;
  text-decoration: none;
  text-align: center;

  background-color: #30B080;
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.5);
}

.main-btn:last-child {
  margin-bottom: 0;
}

.main-btn:hover {
  background-color: rgba(48, 176, 128, 0.75);
  box-shadow: 0 5px 0 0 rgba(48, 176, 128, 0.38);
}

.main-btn:active {
  background-color: rgba(48, 176, 128, 0.5);
  box-shadow: none;
}

.main-title {
  margin-bottom: 40px;
  max-width: 252px;

  font-size: 24px;
  text-align: center;
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  margin-bottom: 30px;
  padding: 12px 0 11px 0;
  border: 2px solid #2070F0;
  border-radius: 10px;

  font: inherit;
  text-decoration: none;
  text-align: center;

  background-color: #BBDDFF;
  box-shadow: 0 5px 0 0 rgba(187, 221, 255, 0.5);
}

input[type="text"].error {
  border-color: #F04020;
}

.cross {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.cross:hover {
  opacity: 0.75;
}

.cross:active {
  opacity: 0.5;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 20px 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.alert {
  width: 700px;
  padding: 13px 0 12px 0;
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  box-sizing: border-box;

  text-align: center;
  background-color: rgba(64, 64, 128, 0.75);
  animation: hideAlert 1.5s forwards;
}

.alert.warning {
  color: #F02000;
  border-color: #C02000;
}

.alert.success {
  color: #30F080;
  border-color: #30B080;
}

@keyframes hideAlert {
  100% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }
}

@media (max-width: 700px) {
  .alert {
    width: 480px;
  }
}

@media (max-width: 500px) {
  .alert {
    width: 300px;
  }

  .main-window {
    width: 300px;
  }
}
